@import "bootstrap-sprockets";
@import "bootstrap";
@import "editor";
/*
 * Override Bootstrap's defaults
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.btn {
  margin: 0 1px;
}

/*
 * Base layout
 */
.page-meta {
  font-style: italic;
  color: #999
}
